$mobile = 829px

$primary = #f18432
$secondary = #f39b4a
$white = #fff
$black = #333
$gray = #aaa

.color--
  &primary
    color: $primary
  &secondary
    color: $secondary
  &white
    color: $white
  &black
    color: $black
  &gray
    color: $gray

.border--
  &primary
    border-color: $primary
  &secondary
    border-color: $secondary
  &white
    border-color: $white
  &black
    border-color: $black
  &gray
    border-color: $gray

.background--
  &primary
    background-color: $primary
  &secondary
    background-color: $secondary
  &white
    background-color: $white
  &black
    background-color: $black
  &gray
    background-color: $gray

.text-shadow--
  &primary
    text-shadow: -1px -1px 1px $primary,
      1px -1px 1px $primary,
      -1px 1px 1px $primary,
      1px 1px 1px $primary
  &black
    text-shadow: -1px -1px 1px $black,
      1px -1px 1px $black,
      -1px 1px 1px $black,
      1px 1px 1px $black
  &white
    text-shadow: -1px -1px 1px $white,
      1px -1px 1px $white,
      -1px 1px 1px $white,
      1px 1px 1px $white

.float
  &--right
    float: right
  &--left
    float: left

.align
  &--right
    text-align: right
  &--left
    text-align: left

*
  box-sizing: border-box

.clear:after
  content: ""
  display: block
  clear: both

body
  scroll-snap-type: y proximity

a
  color: $secondary
  
  &:active,
  &:focus,
  &:hover
    
    &,
    & i:before
      color: $primary

@media (max-width: $mobile)
  .carousel
    &,
    &__inner
      height: 80vh
      width: 90vw

    &__inner
      display: -ms-flexbox
      display: -webkit-flex
      display: flex
      scroll-snap-type: x mandatory
      overflow-x: scroll
      overflow-y: hidden

    &__item
      scroll-snap-align: start
      -webkit-flex: 0 0 90vw
      -ms-flex: 0 0 90vw
      flex: 0 0 90vw
      display: -ms-flexbox
      display: -webkit-flex
      display: flex
      -webkit-align-items: center
      -ms-flex-align: center
      align-items: center
      height: 80vh
      width: 90vw
      position: relative

      #experience &
        padding: 0 5vw

      &:not(:last-child)
        &:after
          content: '\2192'
          position: absolute
          display: block
          height: 60px
          width: 60px
          border-radius: 30px
          background-color: $secondary
          text-align: center
          line-height: 60px
          bottom: 60px
          right: 1vw

      &:last-child
        &:after
          content: '\2193'
          position: absolute
          display: block
          height: 60px
          width: 60px
          border-radius: 30px
          background-color: $secondary
          text-align: center
          line-height: 60px
          bottom: 60px
          left: 50%
          transform: translateX(-50%)

nav
  -webkit-flex: 1 1 0px
  -ms-flex: 1 1 0px
  flex: 1 1 0px
  height: 10vh
  border-bottom: 1px solid
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-justify-content: space-between
  -ms-flex-pack: justify
  justify-content: space-between

.nav
  &__trigger
    -webkit-flex: 0 0 auto
    -ms-flex: 0 0 auto
    flex: 0 0 auto
    font-size: 3vh
    vertical-align: middle

  &__input
    -webkit-flex: 1 1 0px
    -ms-flex: 1 1 0px
    flex: 1 1 0px
    border: none
    outline: none
    pointer-events: none
    padding: 0
    margin: 0

    @media (max-width: 1005px)
      max-width: 240px

  &__menu
    display: none
    list-style: none
    position: absolute
    top: 0
    right: 10vw
    border: 1px solid
    font-size: 18px
    line-height: 48px
    padding: 10px 20px
    
    ^[0]__input:focus + &,
    ^[0]__input:active + &,
    &:hover
      display: block

header,
footer
  position: fixed
  right: 0
  left: 0
  height: 10vh
  padding: 0 5vw
  line-height: 10vh
  z-index: 10

header
  top: 0
  border-bottom: 1px solid
  font-size: 5vh
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

  h1
    -webkit-flex: 0 0 auto
    -ms-flex: 0 0 auto
    flex: 0 0 auto
    font-size: inherit
    margin: 0
    font-weight: normal

  @media (max-width: 1005px)
    font-size: 3vh

footer
  bottom: 0
  border-top: 1px solid

  .footer-link
    font-size: 5vh
    line-height: 10vh
    margin-right: 2vw
    text-decoration: none
    
    &:last-child
      margin-right: 0

section
  min-height: 100vh
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-justify-content: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-align-content: center
  -ms-flex-line-pack: center
  align-content: center
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  -webkit-flex-wrap: wrap
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  padding: 10vh 5vw
  scroll-snap-align: start

.quote
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  align-items: flex-end

  img + p,
  p + img
    margin-left: 3em

  img
    width: 90px
    border-radius: 45px
    border-width: 3px
    border-style: solid

  &__content
    -webkit-flex: 1
    -ms-flex: 1
    flex: 1
    position: relative
    
    &:before,
    &:after
      font-size: 3em
      position: absolute
      color: $black
      font-family: serif

    &:before
      content: '\201C'
      top: -0.5em
      left: -0.5em
    &:after
      content: '\201D'
      bottom: -0.5em
      right: -0.5em
      line-height: 0.5em

.role
  padding: 1vh 0
  
  p
    padding: 0
    margin: 5px 0

.tags
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-flex-wrap: wrap
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  padding: 2px 0 0 2px

.tag
  -webkit-flex: 1 0 auto
  -ms-flex: 1 0 auto
  flex: 1 0 auto
  margin: 0 2px 2px 0
  background-color: $primary
  color: $white
  border-radius: 4px
  padding: 5px 10px

#about
  & > img
    width: 360px
    max-width: 100%
    border: 1px solid

  & > article
    width: 100%

    @media (min-width: $mobile)
      width: 445px
      padding-left: 30px

#recommendations
  background-size: 100% 100%

  .carousel
    overflow: hidden

  figure
    margin: 0
    padding: 2vh 10vw

  figcaption
    font-style: italic

    &.align--right
      margin-right: calc(3em + 90px)

      &:after
        content: ' -'

    &:not(.align--right)
      margin-left: calc(3em + 90px)

      &:before
        content: '- '

#experience
  h1
    width: 100%
    margin-bottom: 1vh

  @media (min-width: $mobile)
    .skew
      width: 75vw
      -webkit-transform: skewX(15deg)
      -ms-transform: skewX(15deg)
      transform: skewX(15deg)

      &__inner
        padding-top: 1vh
        padding-left: 3vh

      &__item
        p
          -webkit-transform: skewX(-15deg)
          -ms-transform: skewX(-15deg)
          transform: skewX(-15deg)

    .corner--top-left
      position: relative

      &:before,
      &:after
        content: ''
        position: absolute
        top: -5px
        left: -5px

      &:before
        bottom: -5px
        width: 5px
        background-image: -webkit-gradient(linear, 0 100%, 0 0, from(transparent), to($secondary))
        background-image: -webkit-linear-gradient($secondary, transparent)
        background-image: -moz-linear-gradient($secondary, transparent)
        background-image: -o-linear-gradient($secondary, transparent)

      &:after
        right: -5px
        height: 5px
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from($secondary), to(transparent))
        background-image: -webkit-linear-gradient(left, $secondary, transparent)
        background-image: -moz-linear-gradient(left, $secondary, transparent)
        background-image: -o-linear-gradient(left, $secondary, transparent)

#skills
  &__cloud
    height: 70vh
    width: 100%

#interests
  background-position: center
  background-size: cover
  position: relative

#hex-grid
  position: relative
  width: 60vh
  margin: 0
  padding: 0
  overflow: hidden

  li
    list-style-type: none
    position: relative
    float: left
    width: 27.85714285714286%
    padding: 0 0 32.16760145166612% 0
    -o-transform: rotate(-60deg) skewY(30deg)
    -moz-transform: rotate(-60deg) skewY(30deg)
    -webkit-transform: rotate(-60deg) skewY(30deg)
    -ms-transform: rotate(-60deg) skewY(30deg)
    transform: rotate(-60deg) skewY(30deg)
    overflow: hidden
    visibility: hidden

    &:nth-child(3n+2)
      margin: 0 1%

    &:nth-child(6n+4)
      margin-left: 0.5%
    
    &:nth-child(6n+4),
    &:nth-child(6n+5),
    &:nth-child(6n+6)
      margin-top: -6.9285714285%
      margin-bottom: -6.9285714285%
      -o-transform: translateX(50%) rotate(-60deg) skewY(30deg)
      -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg)
      -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg)
      -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg)
      transform: translateX(50%) rotate(-60deg) skewY(30deg)

    *
      visibility: visible

.hexagon
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  -o-transform: skewY(-30deg) rotate(60deg)
  -moz-transform: skewY(-30deg) rotate(60deg)
  -webkit-transform: skewY(-30deg) rotate(60deg)
  -ms-transform: skewY(-30deg) rotate(60deg)
  transform: skewY(-30deg) rotate(60deg)
  overflow: hidden

  p
    margin: 0
    padding: 0.5vh
    position: absolute
    top: 20%
    left: 12%
    width: 76%
    height: 60%
    font-size: 1.4vh
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    -webkit-flex-direction: column
    -ms-flex-direction: column
    flex-direction: column
    -webkit-justify-content: center
    -ms-flex-pack: center
    justify-content: center
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
    text-align: center

    &.marathon
      b
        font-size: 5vh

  img
    height: 15vh
    position: absolute
    top: 50%
    left: 50%
    -o-transform: translate(-50%, -50%)
    -moz-transform: translate(-50%, -50%)
    -webkit-transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)

.motto
  position: absolute
  bottom: 10vh
  right: 0
  left: 0
  font-size: 3vh
  text-transform: uppercase
  text-align: center

  @media (max-width: $mobile)
    b
      display: block

.if-mobile
  display: none
  
  @media (max-width: $mobile)
    display: block

    & + .else
      display: none
